/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
body {
  color: #ff0000;
  font-family: "Open Sans", sans-serif; }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */ }

.wrap {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px 0 30px; }

div {
  box-sizing: border-box; }

nav {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3a302e; }
  nav #CornerLogo {
    padding: 20px 0px 16px 0px;
    cursor: pointer;
    text-align: center; }
    nav #CornerLogo h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      color: #3a302e; }
    nav #CornerLogo .subtitle {
      margin-top: 12px;
      color: #ebeaeb; }
  nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 8px 0 8px 0;
    display: inline-block;
    width: 90%;
    border-top: 1px solid #eee; }
    nav ul li {
      display: inline-block;
      color: #3a302e; }
      nav ul li a {
        margin: 5px 20px 5px 20px;
        display: block;
        color: inherit;
        transition: .3s; }
        nav ul li a:hover {
          color: #e44046; }
  nav .container {
    position: relative;
    overflow: hidden;
    padding: 0 30px 0 30px;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center; }

.navbar-fixed-top {
  background-color: white;
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: 0 6px 6px -6px #999;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.nav-default {
  background: transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

@media (min-width: 768px) {
  nav {
    position: fixed;
    transition: top .2s ease-in-out;
    font-size: 14px; }
    nav #CornerLogo {
      float: left;
      margin: 0;
      padding: 24px 0px;
      cursor: pointer; }
      nav #CornerLogo .subtitle {
        margin-top: 12px; }
    nav ul {
      float: right;
      margin: 0;
      width: inherit;
      border: none;
      padding: 0px; }
      nav ul li {
        display: inline-block; }
        nav ul li a {
          margin: 0px 14px;
          padding: 29px 0px;
          display: block; }

  nav:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0; }

  .nav-up {
    top: -142; } }
footer .footer-content {
  padding: 60px 0 60px 0;
  text-align: center;
  margin: 0 auto;
  color: #3a302e;
  background-color: white;
  border-top: 1px solid #eee;
  font-size: 14px;
  font-weight: 500; }
footer .footer-contacts {
  padding-bottom: 20px; }
  footer .footer-contacts a {
    font-size: 15px;
    font-weight: 600; }
footer .vertical_bar {
  padding: 0px 15px; }

.landing-section {
  background-color: transparent;
  height: 660px;
  color: white;
  font-size: 32px;
  display: flex;
  background-image: url("../images/shapes.png");
  background-repeat: no-repeat;
  background-position: left bottom; }
  .landing-section .title {
    color: #3a302e;
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 250px;
    line-height: 1.6; }
    .landing-section .title .bolder {
      font-weight: 700; }
  .landing-section p {
    color: slategray; }
  .landing-section img {
    display: none; }
  @media (min-width: 768px) {
    .landing-section img {
      display: block;
      position: absolute;
      height: 450px;
      right: 100px;
      top: 180; }
    .landing-section .title {
      width: 60%; } }
  @media (min-width: 1024px) {
    .landing-section {
      color: white; } }

.projects-section {
  background-color: white; }
  .projects-section .spacer-line {
    width: 10%;
    margin: 0 auto;
    margin-top: 40px; }

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 0px 0px 80px 0px; }
  @media (min-width: 768px) {
    .projects-container {
      width: 85%; } }
  @media (min-width: 1024px) {
    .projects-container {
      width: 75%; } }
  .projects-container .project {
    flex: 1 1 100%;
    min-width: 253px;
    height: 400px;
    margin: 45px 15px;
    background-color: #eee;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .projects-container .project:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.22); }
    .projects-container .project:active {
      background-color: #e1e1e1; }
    .projects-container .project .project-content {
      padding: 40px 20px; }
      .projects-container .project .project-content .icon-container {
        height: 155;
        width: 200;
        margin: 0 auto; }
        .projects-container .project .project-content .icon-container img {
          max-width: 100%;
          max-height: 100%;
          margin-left: auto;
          margin-right: auto;
          display: block; }
      .projects-container .project .project-content .title-container {
        vertical-align: top;
        width: 86%;
        margin: 0 auto;
        text-align: left; }
        .projects-container .project .project-content .title-container .project-title {
          font-family: 'Open Sans Condensed', sans-serif;
          margin-top: 20px;
          font-size: 28px; }
        .projects-container .project .project-content .title-container .secondary-title {
          margin-top: 20px;
          font-size: 16px; }
        .projects-container .project .project-content .title-container .secondary-content.content {
          font-style: italic;
          padding: 10px 0px;
          color: slategray;
          display: none; }
        .projects-container .project .project-content .title-container .title {
          color: #4F4F4F;
          font-weight: 600;
          text-transform: uppercase; }
        .projects-container .project .project-content .title-container .content {
          color: #4F4F4F;
          font-weight: 400;
          font-size: 18px;
          text-transform: none;
          line-height: 1.4;
          margin-top: 5px;
          font-family: 'Source Sans Pro', sans-serif; }
    @media (max-width: 540px) {
      .projects-container .project .secondary-title {
        display: none; }
      .projects-container .project .secondary-content {
        display: none; } }
    @media (min-width: 768px) {
      .projects-container .project {
        height: 580; }
        .projects-container .project .project-content {
          padding: 74px 50px; }
          .projects-container .project .project-content .icon-container {
            height: 225;
            width: 270; }
          .projects-container .project .project-content .title-container .project-title {
            margin-top: 30px;
            font-size: 42px; }
          .projects-container .project .project-content .title-container .secondary-title {
            margin-top: 40px;
            font-size: 20px; }
          .projects-container .project .project-content .title-container .content {
            font-size: 18px;
            line-height: 1.4; } }
    @media (min-width: 1024px) {
      .projects-container .project {
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .projects-container .project .project-content {
          display: flex;
          flex-direction: row;
          padding: 50px; }
          .projects-container .project .project-content .icon-container {
            height: 225;
            width: 270;
            display: inline-block; }
          .projects-container .project .project-content .title-container {
            width: 60%;
            display: inline-block;
            margin: 25px 0px 0px 40px;
            text-align: left; }
            .projects-container .project .project-content .title-container .project-title {
              margin-top: 0px; }
            .projects-container .project .project-content .title-container .secondary-title {
              margin-top: 30px; }
            .projects-container .project .project-content .title-container .content {
              line-height: 1.6; } }

.about-section {
  height: contain;
  min-height: 480px;
  background-color: #EAEAEA;
  color: #25382f; }
  .about-section .profile-pic {
    margin: 0 auto;
    width: 70%;
    padding: 30px 0px; }
    .about-section .profile-pic img {
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
  .about-section div.about-text {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 16px; }
    .about-section div.about-text .about-title {
      max-width: 560px;
      margin: 0 auto;
      color: #4F4F4F;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase; }
    .about-section div.about-text .about-description {
      max-width: 560px;
      line-height: 1.4;
      margin: 0 auto;
      text-align: left; }
  @media (min-width: 1024px) {
    .about-section {
      height: 400px; }
      .about-section .profile-pic {
        margin: 0;
        width: auto;
        height: 400px;
        display: inline; }
        .about-section .profile-pic img {
          height: 250px;
          margin: 0 auto;
          display: inline; }
      .about-section div.about-text {
        padding: 100px 100px;
        display: inline-block;
        width: 70%;
        text-align: left;
        height: 400px; }
        .about-section div.about-text .about-title {
          color: #4F4F4F;
          font-size: 24px;
          margin-bottom: 20px;
          text-align: left; }
        .about-section div.about-text .about-description {
          max-width: 560px;
          line-height: 1.8;
          margin: initial; } }

.wrapper {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 40vh;
  z-index: -1; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#game-over {
  display: none;
  text-align: center;
  padding-top: 92px;
  z-index: 7;
  width: 600px;
  height: 360px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  margin: auto;
  position: absolute; }

.arrow {
  position: absolute;
  bottom: 30%;
  left: 8%;
  z-index: 7;
  padding: 20px 20px 8% 20px; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  60% {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  60% {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  60% {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  60% {
    -moz-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.bounce {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-name: bounce;
  -moz-animation-iteration-count: infinite;
  -o-animation-delay: 1s;
  -o-animation-duration: 2s;
  -o-animation-name: bounce;
  -o-animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite; }

.project-page #NavBar {
  position: relative;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .project-page #NavBar.glove {
    background-color: #272459; }
  .project-page #NavBar.goodaim {
    background-color: #DF6026; }
  .project-page #NavBar.aura {
    background-color: #FEA200; }
  .project-page #NavBar a {
    color: white; }
.project-page .project-landing-section {
  height: 92vh;
  color: white;
  font-size: 32px;
  display: flex;
  background-repeat: no-repeat;
  background-position: left bottom; }
  .project-page .project-landing-section.glove {
    background-color: #272459; }
  .project-page .project-landing-section.goodaim {
    background-color: #DF6026; }
  .project-page .project-landing-section.aura {
    background-color: #FEA200; }
  .project-page .project-landing-section .title {
    color: #547B8A;
    padding: 215px 0px;
    font-size: 64px;
    font-weight: 600; }
  .project-page .project-landing-section img {
    display: none; }
  .project-page .project-landing-section .project-intro-container {
    font-size: 18px;
    max-width: 960px;
    padding: 12% 15%;
    margin: auto; }
    .project-page .project-landing-section .project-intro-container .intro-title, .project-page .project-landing-section .project-intro-container .intro-last {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase; }
    .project-page .project-landing-section .project-intro-container .intro-description {
      font-size: 24px;
      line-height: 2; }
    .project-page .project-landing-section .project-intro-container .intro-description-big {
      font-size: 48px;
      font-weight: 600;
      margin: 2% 0px; }
    .project-page .project-landing-section .project-intro-container .intro-roles {
      font-style: italic;
      clear: left; }
    .project-page .project-landing-section .project-intro-container hr {
      width: 80px;
      float: left;
      background: white;
      color: white;
      border: none;
      height: 4px;
      margin-top: 5%;
      margin-bottom: 7%; }
  @media (min-width: 768px) {
    .project-page .project-landing-section img {
      display: block;
      position: absolute;
      height: 450px;
      right: 100px;
      top: 180; }
    .project-page .project-landing-section .title {
      width: 66%; } }
  @media (min-width: 1024px) {
    .project-page .project-landing-section {
      color: white; } }
.project-page .sub-nav-wrapper {
  height: 63px; }
.project-page .sub-nav {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: 63px; }
  .project-page .sub-nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block; }
    .project-page .sub-nav ul li {
      display: inline-block;
      color: #25382f; }
      .project-page .sub-nav ul li.glove.active {
        color: #FEA200; }
      .project-page .sub-nav ul li.goodaim.active {
        color: #DF6026; }
      .project-page .sub-nav ul li.aura.active {
        color: #FEA200; }
      .project-page .sub-nav ul li a {
        margin: 5px 20px 5px 20px;
        padding: 15px 0 15px 0;
        display: block;
        color: inherit;
        transition: .3s;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase; }
        .project-page .sub-nav ul li a:hover {
          color: black; }
.project-page .logo-section .img-container {
  margin: 0 auto;
  width: 360px;
  margin-top: 20px; }
  .project-page .logo-section .img-container #BerserkerLogo {
    width: 100%;
    margin: 20px 0px 40px 0px; }
.project-page .section {
  min-height: 200px;
  color: black; }
  .project-page .section#opportunity, .project-page .section#overview {
    padding-bottom: 20px; }
  .project-page .section .wrap .full-width-img {
    margin: 30px 0px; }
  .project-page .section .col-container {
    padding-top: 40px; }
    .project-page .section .col-container .img-container {
      margin: 0 auto;
      width: 360px;
      margin-top: 20px; }
  .project-page .section .one-third-col {
    width: 33%;
    display: inline-block;
    vertical-align: top; }
    .project-page .section .one-third-col .title {
      font-size: 24px;
      font-weight: 600;
      font-family: 'Open Sans Condensed', sans-serif; }
    .project-page .section .one-third-col .title-line {
      width: 48px;
      float: left;
      color: #2E2E2E;
      border-width: 1.5px;
      border-style: solid;
      margin-top: 3%; }
    .project-page .section .one-third-col p {
      margin: 0; }
  .project-page .section .two-third-col {
    width: 66%;
    display: inline-block;
    vertical-align: top; }
    .project-page .section .two-third-col .sub-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      margin: 0px 0px 5px 0px; }
    .project-page .section .two-third-col .description {
      line-height: 2;
      font-size: 16px;
      padding-bottom: 30px;
      font-family: 'Source Sans Pro', sans-serif; }
      .project-page .section .two-third-col .description .bolder {
        font-weight: 600; }
    .project-page .section .two-third-col .highlight {
      padding: 5px 0px 10px 0px;
      font-weight: 600;
      font-size: 14px;
      margin-left: 40px;
      color: #da6139; }
    .project-page .section .two-third-col p {
      margin: 0; }
  .project-page .section .half-col {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 12px 0px;
    border-top: 1px solid #e1e1e1;
    margin-right: 20px; }
  .project-page .section .statement {
    min-height: 350px;
    padding: 40px 11%;
    font-style: italic;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.0; }
    .project-page .section .statement.glove {
      background-color: #272459; }
    .project-page .section .statement.goodaim {
      background-color: #DF6026; }
    .project-page .section .statement.aura {
      background-color: #FEA200; }
  .project-page .section .statement.xlarge {
    padding: 80px 30px; }
.project-page .navbar-fixed-top {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: 0 6px 6px -6px #999; }
.project-page .full-width-img {
  width: 100%; }
.project-page .large-width-img {
  width: 90%;
  margin: auto;
  display: block;
  margin: 55px auto; }
.project-page .med-width-img {
  width: 60%;
  margin: auto;
  display: block;
  margin: 40px auto; }
.project-page .small-width-img {
  width: 40%;
  margin: auto;
  display: block;
  margin-top: 40px; }
.project-page .footer-content {
  background-color: #eaeaea; }
.project-page .video-container {
  background-color: #eee; }
.project-page video {
  height: 500px;
  margin: 0 auto;
  padding: 60px 0px;
  display: block; }

.fullscreen {
  width: 100%;
  color: white;
  margin: 60px 0px 10px 0px; }
  .fullscreen.glove {
    background-color: #272459; }
  .fullscreen.goodaim {
    background-color: #DF6026; }
  .fullscreen.aura {
    background-color: #FEA200; }

a {
  text-decoration: none;
  color: #3a302e; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=main.css.map */
