$landing-color: #da6139;


.project-page {

	#NavBar {
		// display: fixed;
		position: relative;
		box-shadow: none;
		-webkit-box-shadow: none;
		&.glove {
			background-color: map-get($brand_clr, glove);	
		}
		&.goodaim {
			background-color: map-get($brand_clr, goodaim);	
		}
		&.aura {
			background-color: map-get($brand_clr, aura);	
		}
		a {
			color: white;
		}
	}
	.project-landing-section {
	
		&.glove {
			background-color: map-get($brand_clr, glove);	
		}
		&.goodaim {
			background-color: map-get($brand_clr, goodaim);	
		}
		&.aura {
			background-color: map-get($brand_clr, aura);	
		}	
		height: 92vh;
		color: white;
		font-size: 32px;
		display: flex;

		// background-image: url("../images/mountains3.svg");
		background-repeat: no-repeat;
		background-position: left bottom;

		.title {
			color: #547B8A;
			padding: 215px 0px;
		    font-size: 64px;
		    font-weight: 600;
		}
		img {
			display: none;
		}
		.wrap {

		// background-size: contain;
		}
		.project-intro-container {
			font-size: 18px;
			max-width: 960px;
		    padding: 12% 15%;
		    margin: auto;

			.intro-title, .intro-last {
				font-weight: 600;
				font-size: 14px;
				text-transform: uppercase;
			}
			.intro-description {
				font-size: 24px;
				line-height: 2;
			}
			.intro-description-big {
				font-size: 48px;
				font-weight: 600;
				margin: 2% 0px;
			}
			.intro-roles {
				font-style: italic;
				clear: left;
			}
			hr {
			    width: 80px;
			    float: left;
			    background: white;
			    color: white;
			    border: none;
			    height: 4px;
			    margin-top: 5%;
			    margin-bottom: 7%;
			}
		}

		@include tablet {
			// background-color: #FCD1A3;
			img {
				display: block;
				position: absolute;
			    height: 450px;
			    right: 100px;
			    top: 180;
			}
			.title {
				width: 66%;
			}
		}
		@include desktop {
			// background-color: #C4B99D;
			color: white;

		}
	}
	.sub-nav-wrapper {
		height: 63px;
	}
	.sub-nav {
		margin: 0 auto;
		text-align: center;
		background-color: white;
		height: 63px;

		ul {
			list-style: none;
			overflow: hidden;
			margin: 0 auto;
			// border-top: 1px solid #eee;
			display: inline-block;

			li {
				display: inline-block;
				color: #25382f;

				
						&.glove {
							&.active {
							color: map-get($brand_clr, aura);
							}	
						}
						&.goodaim {
							&.active {
							color: map-get($brand_clr, goodaim);
							}	
						}
						&.aura {
							&.active {
							color: map-get($brand_clr, aura);	
						}
						}
					// border-bottom: 4px solid $landing-color;

				a {
					margin: 5px 20px 5px 20px;
					padding: 15px 0 15px 0;
					display: block;
					color: inherit;
					transition: .3s;
					font-size: 14px;
				    font-weight: 600;
				    text-transform: uppercase;

					&:hover {
						color: black;
					}
				}
				
			}
		}
	}

	.logo-section {
		// height: 300px;

		.img-container {
			margin: 0 auto;
			width: 360px;
			margin-top: 20px;

			#BerserkerLogo {
				width: 100%;
				margin: 20px 0px 40px 0px;
			}
		}
		img {
		}
	}
	
	.section {
		min-height: 200px;
		color: black;
		// border-top: 1px solid slategray;

		&#opportunity, &#overview {
			padding-bottom: 20px;
		}

		.wrap {
			// padding-bottom: 60px;
			.full-width-img {
				margin: 30px 0px;
			}

			.img-container {
				width: 100%;
				display: inline-block;
				margin: 0 auto;
				text-align: center;
				padding: 40px 0px;

				&.one {
					img {
						width: 60%;
						margin: 0 auto;
					}
				}
				&.two {
					img, video {
						width: 45%;
						padding: 20px;
						height: auto;
						margin: auto;
						display: inherit;
					}
				}
				&.three {
					img {
						width: 30%;
						padding: 10px;
					}
				}
				&.four {
					img {
						width: 23%;
						padding: 10px;
					}
				}
					
			}
			
		}

		.col-container {
			padding-top: 40px;

			.img-container {
				margin: 0 auto;
				width: 360px;
				margin-top: 20px;
			}
		}

		.one-third-col {
			width: 33%;
			display: inline-block;
			vertical-align: top;

			.title {
				font-size: 24px;
				font-weight: 600;
				font-family: 'Open Sans Condensed', sans-serif;
			}
			.title-line {
				width: 48px;
			    float: left;
			    color: #2E2E2E;
			    border-width: 1.5px;
			    border-style: solid;
			    margin-top: 3%;
			    // margin-bottom: 6%;
			}
			p {
				margin: 0;
			}

		}
		.two-third-col {
			width: 66%;
			display: inline-block;
			vertical-align: top;

			.sub-title {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 14px;
				margin: 0px 0px 5px 0px;
			}
			.description {
				line-height: 2;
				font-size: 16px;
				padding-bottom: 30px;
				font-family: 'Source Sans Pro', sans-serif;
				&.inner {
					padding-bottom: 10px;
				}
				.bolder {
					font-weight: 600;
				}

			}
			.highlight {
				padding: 5px 0px 10px 0px;
				font-weight: 600;
				font-size: 14px;
				// text-transform: uppercase;
				margin-left: 40px;
				color: $landing-color;

			}
			p {
				margin: 0;

			}
		}



		.half-col {
		    width: 40%;
		    display: inline-block;
		    vertical-align: top;
		    padding: 12px 0px;
		    border-top: 1px solid #e1e1e1;
		    margin-right: 20px;
		    &.header {
		    	padding: 0;
		    	border-top: 0px;
		    	text-transform: uppercase;
				font-weight: 700;
				font-size: 14px;
				margin-bottom: 12px;

		    }
		}


		.statement {
		    min-height: 350px;
		    padding: 40px 11%;
		    font-style: italic;
		    font-size: 23px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    line-height: 2.0;
		    &.glove {
				background-color: map-get($brand_clr, glove);	
			}
			&.goodaim {
				background-color: map-get($brand_clr, goodaim);	
			}
			&.aura {
				background-color: map-get($brand_clr, aura);	
			}
		}

		.statement.xlarge {
			padding: 80px 30px;
		}


	}

	.navbar-fixed-top {
	  top: 0;
	  left: 0;
	  z-index: 100;
	  position: fixed;
	  width: 100%;

	  -webkit-box-shadow: 0 6px 6px -6px #999;
      -moz-box-shadow: 0 6px 6px -6px #999;
      box-shadow: 0 6px 6px -6px #999;
	  // font-size: 12px;
	}

	.full-width-img {
		width: 100%;
		// margin: 30px 0px;
	}
	.large-width-img {
		width: 90%;
		margin: auto;
		display: block;
		margin: 55px auto;
	}
	.med-width-img {
		width: 60%;
		margin: auto;
		display: block;
		margin: 40px auto;

	}
	.small-width-img {
		width: 40%;
		margin: auto;
		display: block;
		margin-top: 40px;
	}
	.landing-image-container {
		background-color: #eee;
		text-align: center;

		img {
			width: 60%;
			margin: auto;
			display: block;
			padding: 40px 0px;
		}

	}

	.footer-content {
		background-color: #eaeaea;
	}

	.video-container {
		background-color: #eee;
		text-align: center;
	}

	video {
		height: 500px;
		margin: 0 auto;
		padding: 60px 0px;
		display: block;

		&.glove {
			height: 400px;
			width: 45%;
			padding-right: 2%;
			display: inline-block;			
		}
	}

}
.fullscreen {
	width: 100%;
	&.glove {
		background-color: map-get($brand_clr, glove);	
	}
	&.goodaim {
		background-color: map-get($brand_clr, goodaim);	
	}
	&.aura {
		background-color: map-get($brand_clr, aura);	
	}
	color: white;
	margin: 60px 0px 10px 0px;

}

