// Variables
$textColor: #ff0000;
$bodyTextColor: #3a302e;//#4F4F4F;
$mainFont:	'Open Sans', sans-serif;
$accentColor: #EB5757;
// $mainFont:	'Lato', sans-serif;

// Base styles
body {
	color: $textColor;
	font-family: $mainFont;
}

// Typography