// https://davidwalsh.name/write-media-queries-sass

$phone-width: 540px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
    @media (max-width: #{$phone-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {//and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin linear-transition($sec) {
  -webkit-transition: all $sec linear;
  -moz-transition: all $sec linear;
  transition: all $sec linear;
}



